.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;


  background-color: antiquewhite;
  /* margin: 35px; */
  border-radius: 10px;
  height:100%;
  max-width: 30%;
  margin: auto
  
}

.app > p{
  font-size: 1.5em;
  padding: 15px
}

.die-order{
  display: flex;
  gap: 10px;
  flex-wrap:wrap;
  justify-content: space-around;
  
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  margin-bottom: 15px;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}